<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- title %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/adminlte/plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/assets/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/assets/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/assets/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/adminlte/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/assets/adminlte/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="/assets/adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <%- include('../commons/rightnavbar')%>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include('../commons/sidebarcontainer') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Pelanggan</th>
                    <th>site id</th>
                    <th>Alamat</th>
                    <th>Kota</th>
                    <th>State</th>
                    <th>kota</th>
                    <th>kec</th>
                    <th>kel</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Pelanggan</th>
                    <th>site id</th>
                    <th>Alamat</th>
                    <th>Kota</th>z
                    <th>State</th>
                    <th>kota</th>
                    <th>kec</th>
                    <th>kel</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2021-2022 <a href="https://adminlte.io">PadiNET</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<%- include('setaddress')%>
<script>loggeduser = "<%- loggeduser-%>"</script>
<!-- jQuery -->
<script src="./assets/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/assets/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/assets/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/adminlte/plugins/jszip/jszip.min.js"></script>
<script src="/assets/adminlte/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/assets/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/assets/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/assets/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/assets/adminlte/plugins/select2/js/select2.full.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/adminlte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/adminlte/dist/js/demo.js"></script>
<script src="/assets/padi/puji.js"></script>
<!-- Page specific script -->
<script>

  $(function () {
    $("#example1").DataTable({
      ajax:{
        url:'/getclients',
        processResults:res=>{
            return res
          }
      },
      "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "dom":"Bfrtip",
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "columnDefs":[
          {
            targets:0,
            class:"clientid"
          },
          {
            targets:2,
            class:"clientsiteid"
          },
          {
            targets:9,
            "defaultContent":'<button class="btn setaddress">Set Address</button>'
        }
      ],
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    

  });
  $('#example1').on('click','.setaddress',function(){
    $('#example1 tr').removeClass('selected')
    tr = $(this).stairUp({level:2})
    tr.addClass('selected')
    id = tr.find('.clientsiteid').text()
    console.log('cleeeek',id)
    $('#modal-setaddress-xl').modal()
  })
</script>
<script>
  reloadCity2 = obj => {
    console.log("URL",obj.url)
    $('#select2city').select2('destroy').empty().select2({
    ajax:{
      url:obj.url,
      data:function(params){
          var query = {
            search:params.term,type:'public'
          }
          return query
        },dataType:'json'
      }
    })
    .trigger('change')
  }
  

  reloadCity = obj => {
    $('#select2city').select2('destroy').empty().select2({
      ajax:{
        url:function(params){
              if(params.hasOwnProperty('term')){
                return obj.url+'/'+params.term
              }else{
                return obj.url+'/'
              }
            },
            processResults:obj=>{
              console.log('OBJ got',obj)
              return obj
            }

      }
    })
    .trigger('change')
  }


  reloadKecamatan = obj => {
    console.log("URL",obj.url)
    $('#select2kecamatan').select2('destroy').empty().select2({
    ajax:{
      url:obj.url,
      data:function(params){
          var query = {
            search:params.term,type:'public'
          }
          return query
        },dataType:'json'
      }
    })
    .trigger('change')

  }
  reloadKelurahan = obj => {
    $('#select2kelurahan').select2('destroy').empty().select2({
      ajax:{
        url:obj.url,
        data:function(params){
          var query = {
            search:params.term,type:'public'
          }
          return query
        },dataType:'json'
      }
    })
    .trigger('change')
  }
  $('#select2state').change(function(){
    console.log('this val',$(this).val())
    reloadCity({
      url:'/getkota/'+$(this).val()
    })
  })
  $('#select2city').select2({
    ajax:{
      url:'/js/kota-jatimb.json',
      data:function(params){
          var query = {
            search:params.term,type:'public'
          }
          return query
        },dataType:'json'
    }
  })
  $('#select2kecamatan').select2({
    ajax:{
      url:'/getkecamatan/1',
      data:function(params){
          var query = {
            search:params.term,type:'public'
          }
          return query
        },dataType:'json'
      }
    })
  $('#select2kelurahan').select2({
    ajax:{
      url:'/getkelurahan/1',
      data:function(params){
          var query = {
            search:params.term,type:'public'
          }
          return query
        },dataType:'json'
      }
    })
  $('#select2city').change(function(){
    reloadKecamatan({url:'/getkecamatan/'+$(this).val()})
  })
  $('#select2kecamatan').change(function(){
    reloadKelurahan({url:'/getkelurahan/'+$(this).val()})
  })
  $("#savepoint").click(function(){
    console.log("ID",$('#example1 tr.selected').find('.clientsiteid').text())
    console.log("state_id",$('#select2state').val())
    console.log("kota_id",$('#select2city').val())
    console.log("kecamatan_id",$('#select2kecamatan').val())
    console.log("kelurahan_id",$('#select2kelurahan').val())

    $.ajax({
      url:'/updatepoint',
      type:'post',
      dataType:'json',
      data:{
        id:$('#example1 tr.selected').find('.clientsiteid').text(),
        state_id:$('#select2state').val(),
        kota_id:$('#select2city').val(),
        kecamatan_id:$('#select2kecamatan').val(),
        kelurahan_id:$('#select2kelurahan').val(),
        modifier:loggeduser
      }
    })
    .done(res=>{
      console.log("Res",res)
    })
    .fail(err=>{
      console.log("Err",err)
    })
  })
</script>
</body>
</html>

